td= id
td= name
td= book.title
td= type
td= chances
td= time_limit
td= single
td= multi
td= single_points
td= multi_points
td= status
td= start_at
td= end_at
td!= welcome
td= info_field_3
td= info_field_2
td= info_field_3
td
  a(href=url)= url
td
  a.btn.btn-primary.btn-xs(href="/activities/edit/#{id}") 编辑
  a.btn.btn-info.btn-xs(href="/activities/publish/#{id}") 发布
td= user.username
