td.content= content
td= type
td= correct_option
td= option_A
td= option_B
td= option_C
td= option_D
td= option_E
td= option_F
td
  a.btn.btn-primary.btn-xs(type=button data-id=id data-toggle='modal' data-target='#questionModalForm') 编辑
  a.btn.btn-danger.btn-xs#delete(type=button) 删除
